<p-dialog [header]="'Detalle Compra: '+ input()?.cod" [(visible)]="inputService.showModalDetailsInput" [modal]="true"
    [breakpoints]="{ '960px': '85vw', '576px': '95%' }" [style]="{ width: '55vw' }" [draggable]="false"
    [resizable]="false" [dismissableMask]="true">
    <form>
        <p-tag styleClass="m-2 ms-0 mb-1" value="COMPRA: {{input()?.cod}} " [rounded]="true"></p-tag>
        <div class="table-responsive">
            <table class="table table-xxs table-sm">
                <tbody class="border-solid">
                    <tr>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">FECHA COMPRA</td>
                        <td width="30%">{{input()?.createdAt | date:'dd/MM/yyyy, HH:mm:ss'}}</td>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">FECHA DOC.</td>
                        <td width="30%">{{input()?.date_voucher | date:'dd/MM/yyyy, HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">TIPO DOC.</td>
                        <td width="30%">{{input()?.type_registry}}</td>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">NO. DOC.</td>
                        <td width="30%">{{input()?.registry_number}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">PAGO. | CUENTA</td>
                        <td width="30%">{{input()?.type_payment}}{{input()?.bank ? ' | ' + input()?.bank?.name : ''}}{{input()?.account_input ? ' | ' + input()?.account_input : ''}}</td>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">TIPO PAGO.</td>
                        <td width="30%">{{input()?.type}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">PROVEEDOR</td>
                        <td width="30%">{{input()?.provider?.full_names}}</td>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">CARNET PROV.</td>
                        <td width="30%">{{input()?.provider?.number_document}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">BALANZA</td>
                        <td width="30%">{{input()?.scale?.name}}</td>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">USUARIO</td>
                        <td width="30%">{{input()?.user?.full_names}} - {{input()?.user?.number_document}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-black text-left fw-bold bg-secondary-subtle">COMENTARIOS</td>
                        <td colspan="3" width="80%">{{input()?.comments}}</td>
                    </tr>
                </tbody>
            </table>     
        </div>
        <p-tag styleClass="m-2 ms-0 mb-1" severity="success" value="DETALLE DE COMPRA: {{input()?.cod}} " [rounded]="true"></p-tag>
        <div class="table-responsive">
			<table id="tbldetalle" class="table table-striped table-xxs table-hover table-sm">
				<thead>
					<tr>
						<th style="background-color: var(--bg-primary)" class="text-white"> Producto </th>
						<th style="background-color: var(--bg-primary)" class="text-white"> Cantidad </th>
						<th style="background-color: var(--bg-primary)" class="text-white"> Costo </th>
						<th style="background-color: var(--bg-primary)" class="text-white"> Importe </th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let detail of input()?.detailsInput" >
                        <td style="max-width: 200px;">
                            <h5 class="m-0 p-0">{{detail.product.name}}</h5>
                            <p style="font-size: 10px;" class="text-muted">{{detail.product.description}}<br *ngIf="detail.product.description"> <span class="text-black">{{detail.product.cod}}</span></p>
                        </td>
                        <td>{{detail.quantity}}</td>
                        <td>{{detail.cost  | number:decimal()}}</td>
                        <td>{{detail.total | number:decimal()}}</td>
                    </tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td width="10%" class="table-active fw-bold">SUBTOTAL</td>
						<td id="subtotal">{{input()?.sumas | number:decimal()}}</td>
					</tr>
                    <tr>
						<td></td>
						<td></td>
						<td width="10%" class="table-active fw-bold">DESCUENTO</td>
						<td id="subtotal">{{input()?.discount | number:decimal()}}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td width="10%" class="table-active fw-bold">TOTAL</td>
                        <td id="total"> <p-tag [style]="{'font-size': '15px'}" value="{{input()?.total | number:decimal()}}" [rounded]="true"></p-tag> </td>
					</tr>
				</tfoot>
			</table>
		</div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="inputService.showModalDetailsInput = false" label="OK, Cerrar"
            styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>