<p-dialog [header]="'Registro de traslado'" [(visible)]="transfersService.showModalSaveTransfer"
    [modal]="true" [breakpoints]="{ '960px': '75vw', '576px': '95%' }" [style]="{ width: '40vw' }" [draggable]="false"
    [resizable]="false" [dismissableMask]="true" (onHide)="resetModal()">
    <form [formGroup]="formTransferData">
        <div class="p-fluid grid">
            <div class="field col-12">
                <div class="row mt-1">
                    <div class="col-sm-6 col-12">
                        <label class="block mb-0">Sucursal destino<span class="text-danger">*</span></label>
                        <p-dropdown [options]="sucursales()" 
                        optionLabel="name" optionValue="id"
                        [showClear]="false" appendTo="body"
                        [virtualScrollItemSize]="38" [lazy]="true" 
                        formControlName="id_sucursal_received"
                        [class.ng-dirty]="validatorsService.inputValid('id_sucursal_received',formTransferData)"
                        placeholder="SELECCIONA SUCURSAL"></p-dropdown>
                        <small *ngIf="validatorsService.inputValid('id_sucursal_received',formTransferData)" class="p-error block">
                            {{ validatorsService.inputValidMessage("id_sucursal_received",formTransferData) }}
                        </small>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="row">
                            
                            <div class="col-sm-6 col-12">
                                <label class="block mb-0">Cantidad Productos</label><br>
                                <p-tag [rounded]="true" [severity]="'success'"
                                    [icon]="'fa-solid fa-tag'"
                                    value="{{totalSummaryItems() | number:decimal() }}"></p-tag>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-6 col-12 mt-sm-0 mt-1">
                        <label class="block mb-0">Fecha de Registro <span class="text-danger">*</span>
                        </label>
                        <p-calendar
                            formControlName="date_send"
                            appendTo="body"
                            dateFormat="dd/mm/yy"
                            [showIcon]="true"
                            [showTime]="true" 
                            [hourFormat]="'24'"
                            [class.ng-dirty]="validatorsService.inputValid('date_send',formTransferData)">
                        </p-calendar>
                        <small *ngIf="validatorsService.inputValid('date_send',formTransferData)" class="p-error block">
                            {{ validatorsService.inputValidMessage("date_send",formTransferData) }}
                        </small>
                    </div>

                    <div class="col-sm-6 col-12 mt-sm-0 mt-1">
                        <label class="block mb-0">Observaciones de envió</label>
                        <textarea pInputTextarea
                            type="text"
                            style="text-transform: uppercase"
                            pInputText
                            [pKeyFilter]="validatorsService.expRegValidInput"
                            formControlName="observations_send"
                            placeholder="EJ. ......"
                            class="mt-1"
                            [class.ng-dirty]="validatorsService.inputValid('observations_send',formTransferData)"
                        ></textarea> 
                        <small *ngIf="validatorsService.inputValid('observations_send',formTransferData)" class="p-error block">
                            {{ validatorsService.inputValidMessage("observations_send",formTransferData) }}
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12 mt-sm-0 mt-1">
                        <label class="block mb-0">Balanza:<span class="text-danger">*</span></label>
                        <p-dropdown [options]="scalas()"
                        placeholder="Selecciona una opción"
                        optionLabel="name"
                        optionValue="id"
                        appendTo="body"
                        selected="1"
                        formControlName="id_scales"
                        [class.ng-dirty]="validatorsService.inputValid('id_scales',formTransferData)"
                        ></p-dropdown>
                        <small *ngIf="validatorsService.inputValid('id_scales',formTransferData)" class="p-error block">
                            {{ validatorsService.inputValidMessage("id_scales",formTransferData) }}
                        </small>
                    </div>
                    <div class="col-sm-6 col-12">
                        <label class="block mb-0">Tipo Pesaje<span class="text-danger">*</span></label>
                        <p-dropdown [options]="types_registry()"
                            placeholder="Selecciona una opción"
                            optionLabel="name"
                            optionValue="code"
                            appendTo="body"
                            formControlName="type_registry"
                            [class.ng-dirty]="validatorsService.inputValid('type_registry',formTransferData)"
                            (onChange)="selectTypeRegistry()"
                            ></p-dropdown>
                        <small *ngIf="validatorsService.inputValid('type_registry',formTransferData)" class="p-error block">
                            {{ validatorsService.inputValidMessage("type_registry",formTransferData) }}
                        </small>
                    </div>
                    @if (formTransferData.get('type_registry')?.value != 'SIN FICHA') {
                        <div class="col-sm-6 col-12 animated fadeInDown">
                            <label class="block mb-0">Nro. Pesaje</label>
                            <input type="text" style="text-transform: uppercase" pInputText [pKeyFilter]="validatorsService.expRegValidInput"
                                formControlName="registry_number" placeholder="EJ. 0001"
                                [pKeyFilter]="validatorsService.expRegValidInput"
                                [class.ng-dirty]="validatorsService.inputValid('registry_number',formTransferData)"
                            />
                            <small *ngIf="validatorsService.inputValid('registry_number',formTransferData)" class="p-error block">
                                {{ validatorsService.inputValidMessage("registry_number",formTransferData) }}
                            </small>
                        </div>
                    } @else {
                        <div class="col-sm-6 col-12 animated fadeInDown mt-2">
                            <small class="block">
                                {{ "El número se generará automáticamente al guardar el traslado." }}
                            </small>
                        </div>
                    }
                </div>
            </div> 
        </div> 
      </form>
      <ng-template pTemplate="footer">
        <p-button (click)="loading() ? null : saveTransfer()" styleClass="p-button-sm p-button-rounded"
            label="Guardar" icon="fa-solid fa-floppy-disk" [loading]="loading()" ></p-button>
        <p-button (click)="transfersService.showModalSaveTransfer = false" label="Cancelar" styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>