<p-dialog [header]="'Vista de camiones: '" [(visible)]="transportCompanyService.showModalCargoTrucks"
    [modal]="true" [breakpoints]="{ '960px': '75vw', '576px': '95%' }" [style]="{ width: '45vw' }" [draggable]="false"
    [resizable]="false" [dismissableMask]="true">
    <div class="justify-content-between d-flex">
        <h3 class="text-muted">{{transportCompany?.name}}</h3>
        <p-button icon="fa-solid fa-circle-plus" (click)="transportCompanyService.showModalNewCargoTruck = true" pTooltip="Añadir Nuevo" tooltipPosition="left"
            styleClass="p-button-primary p-button-rounded mb-1" label="Añadir"></p-button>
    </div>
    <app-table [cols]="cols()" [includeSearch]="false" [data]="cargoTrucks()" 
        [loading]="false" [isCustomSort]="false"
        [customPagination]="true">
    </app-table>
    <ng-template pTemplate="footer">
        <p-button (click)="transportCompanyService.showModalCargoTrucks = false" label="Cerrar"
            styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>
<app-modal-new-cargo-trucks></app-modal-new-cargo-trucks>