<form [formGroup]="formReport">
  <div class="card shadow mb-4 icon-box ">
    <div class="card-body">
      <div class="title">
        <h3 style="color: var(--bg-2665C); text-align: center; flex: 1; margin-right: auto;">
          <b>CONSULTA DE PROVEEDORES</b>
        </h3>
        <div *ngIf="validatorsService.withPermission('PROVEEDORES','create')" class="ms-1">
          <p-button icon="fa-solid fa-circle-plus" (click)="showModal()" pTooltip="Añadir Nuevo" tooltipPosition="left"
            [rounded]="true" label="Añadir"></p-button>
        </div>
      </div>
      <div class="p-fluid grid mt-sm-3 mt-md-0 ps-md-4 pe-md-4">
        <app-alert-notify title="Realiza tus consultas por los parámetros que sean necesarios,"
          subTitle="Se considera todos los campos que estén llenados para realizar la consulta" [subTitle2]="''"
          [required]="false"></app-alert-notify>
        <div class="field col-12">
          <div class="row mt-1">
            <div class="col-12 col-sm-6">
                <label class="block mb-1">Tipo proveedor</label>
                <p-dropdown [options]="types()" placeholder="Selecciona una opción"
                  optionLabel="name" appendTo="body" formControlName="id_type_provider"
                  [disabled]="loading()"
                  (onChange)="!loading() ? this.getAllAndSearchProviders(1,rows(),true) : null"
                  [class.ng-dirty]="validatorsService.inputValid('id_type_provider',formReport)"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-tabMenu [model]="searchItems()" [styleClass]="loading() ? 'p-disabled' : ''"
      [activeItem]="searchItems()[0]"></p-tabMenu>

  </div>
</form>
<app-table *ngIf="!status()" [cols]="cols()" (customSort$)="customSort($event)" [searchFor]="searchFor()"
  (rows$)="paginate($event)" (search$)="search($event)" [data]="providers()" [loading]="loading()">
</app-table>
<app-table *ngIf="status()" [cols]="cols()" (customSort$)="customSort($event)" [searchFor]="searchFor()"
  (rows$)="paginate($event)" (search$)="search($event)" [data]="providers()" [loading]="loading()">
</app-table>

<app-modal-provider></app-modal-provider>