<p-dialog
  [header]="componentsService.nameImg()"
  [(visible)]="componentsService.setShowImg"
  [modal]="true"
  [style]="{ width: componentsService.withModal}"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true" styleClass="app-dialog--md">
  <form>
    <div class="p-fluid grid">
      <p-tag
          styleClass="m-1"
          [rounded]="true"
          [value]="componentsService.textImg()"
          icon="fa-solid fa-image"
      ></p-tag>
        <div class="text-center">
            <img class="img-fluid app-u-border-radius-10px-e609a24" [src]="componentsService.srcImg() | image: componentsService.typeImg()"
              alt="">
        </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="componentsService.setShowImg = false;"
      label="Ok, Cerrar"
      styleClass="p-button-outlined p-button-sm p-button-rounded">
    </p-button>
  </ng-template>
</p-dialog>
