<p-dialog [header]="'Registro chofer para: ' + transportCompany?.name" [(visible)]="transportCompanyService.showModalNewChauffeur"
    [modal]="true" [breakpoints]="{ '960px': '75vw', '576px': '95%' }" [style]="{ width: '35vw' }" [draggable]="false"
    [resizable]="false" (onHide)="resetModal()"
    [dismissableMask]="true">
    <form [formGroup]="chauffeurForm">
        <app-alert-notify></app-alert-notify>
        <div class="p-fluid grid">
            <div class="field col-12">
                <div class="field">
                    <label class="block mb-0">Nombre Chofer<span class="text-danger">*</span>
                    </label>
                    <input type="text" style="text-transform: uppercase" pInputText [pKeyFilter]="validatorsService.expRegValidInput"
                        formControlName="full_names" placeholder="EJ. DANIEL..." 
                        [class.ng-dirty]="validatorsService.inputValid('full_names',chauffeurForm)" />
                    <small *ngIf="validatorsService.inputValid('full_names',chauffeurForm)" class="p-error block">
                        {{ validatorsService.inputValidMessage("full_names",chauffeurForm) }}
                    </small>
                </div>
                <div class="field">
                    <label class="block mb-0">Ci / Licencia</label>
                    <input type="text" style="text-transform: uppercase" pInputText [pKeyFilter]="validatorsService.expRegValidInput"
                        formControlName="number_document" placeholder="EJ. 512..." 
                        [class.ng-dirty]="validatorsService.inputValid('number_document',chauffeurForm)" />
                    <small *ngIf="validatorsService.inputValid('number_document',chauffeurForm)" class="p-error block">
                        {{ validatorsService.inputValidMessage("number_document",chauffeurForm) }}
                    </small>
                </div>
                <div class="row mt-1 ">
                    <label class="block">Estado:<span class="text-danger">*</span></label>
                </div>
                <div class="row mt-0">
                    <div class="col-3">
                        <p-inputSwitch formControlName="status"></p-inputSwitch>
                    </div>
                    <div class="col">
                        <p-tag  [rounded]="true" 
                                [icon]="chauffeurForm.get('status')!.value ? 'fa-solid fa-circle-check' : 'fa-solid fa-trash-can'" 
                                [style]="chauffeurForm.get('status')!.value
                                          ? { 'background-color': 'var(--bg-primary)', color: '#ffffff' }
                                          : { 'background-color': 'red', color: '#ffffff' }" 
                                [value]="chauffeurForm.get('status')!.value ? 'Activo' : 'Inactivo'">
                        </p-tag>
                    </div>
                </div>  
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="!loading() ?  newCargoTruck() : null" styleClass="p-button-sm p-button-rounded"
            label="Guardar" icon="fa-solid fa-floppy-disk" [loading]="loading()"></p-button>
        <p-button (click)="transportCompanyService.showModalNewChauffeur = false" label="Cancelar" styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>