<div class="row animated fadeIn fast m-1"
    *ngIf="transfersService.detailTransfer().length === 0">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h5 class="alert-heading">Sin productos</h5>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Agrega productos desde el buscador</p>
        </div>
    </div>
</div>
<p-table *ngIf="transfersService.detailTransfer().length !== 0" [value]="transfersService.detailTransfer()" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-white" style="min-width: 120px; max-width: 200px; background-color: var(--bg-primary)">Producto</th>
            <th class="text-white text-center" style=" background-color: var(--bg-primary);">Cantidad</th>
            <th class="text-white text-center" style=" background-color: var(--bg-primary)">Costo</th>
            <th class="text-white" style="min-width: 110px; max-width: 150px; background-color: var(--bg-primary)">Importe</th>
            <th class="text-white text-center" style="min-width: 60px; max-width: 60px;  background-color: var(--bg-primary)">Quitar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td style="min-width: 120px;  max-width: 200px; ">
                <h5 class="m-0 p-0">{{product.name}}</h5>
                <p style="font-size: 10px;" class="text-muted">{{product.description}} <br *ngIf="product.description"> <span class="text-black">{{product.cod}} / {{product.category.name}} / {{product.unit.name}}</span></p>
            </td>
            <td  class="text-center">
                <p-inputNumber
                    [style]="{'height': '38px'}"
                    [size]="5"
                    locale="en-US" 
                    mode="decimal" 
                    [minFractionDigits]="2"
                    [showButtons]="true"
                    decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-primary"
                    placeholder="0"
                    [min]="0.1"
                    [max]="product.total_stock"
                    [inputId]="product.id"
                    [(ngModel)] = "product.quantity"
                    (onInput)="updateQuantityProduct($event, product)">
                </p-inputNumber>  
            </td>
            <td style="min-width: 110px; max-width: 150px; text-align: center;">{{ product.costo | number: decimal()}}</td>
            <td style="min-width: 110px; max-width: 150px;">{{ product.import | number: decimal()}}</td>
            <td class="text-center" style="min-width: 60px; max-width: 60px;">
                <p-button 
                    (click)="deleteProductForDetailSale(product.id)"
                    icon="fa-regular fa-trash-can"  
                    styleClass=" p-button-sm p-button-danger p-button-rounded">
                </p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr> 
            <th colspan="3" class="text-end text-white pt-1" style=" background-color: var(--bg-primary)"><h4>Total: &nbsp;</h4></th>
            <th colspan="2" class="text-start text-white pt-1" style=" background-color: var(--bg-primary)"><h4>{{ totalSummary()  | number:decimal() }}</h4></th>         
        </tr>
        <tr>
            <td colspan="3" class="text-end bg-white">
                <p-button 
                    (click)="clearDetailSale()"
                    icon="fa-solid fa-ban"  pTooltip="Cancelar compra"  
                    tooltipPosition="left" 
                    styleClass="p-button-outlined p-button-sm p-button-rounded">
                </p-button>
            </td>
            <td colspan="2" class="text-center bg-white"> 
                <p-button  
                    styleClass="p-button-sm p-button-rounded" 
                    label="Guardar" 
                    (click)="transfersService.showModalSaveTransfer = true"
                    icon="fa-solid fa-floppy-disk">
                </p-button> 
            </td>
        </tr>
    </ng-template>
</p-table>
