<p-dialog [header]="!categoriesService.isEdit ? 'Registro Categoría' : 'Modificar Categoría'" [(visible)]="categoriesService.showModal"
    [modal]="true" [breakpoints]="{ '960px': '75vw', '576px': '95%' }" [style]="{ width: '35vw' }" [draggable]="false"
    [resizable]="false" (onHide)="resetModal()"
    [dismissableMask]="true">
    <form [formGroup]="categoryForm">
        <app-alert-notify></app-alert-notify>
        <div class="p-fluid grid">
            <div class="field col-12">
                <div class="field">
                    <label class="block mb-0">Nombre<span class="text-danger">*</span>
                    </label>
                    <input type="text" style="text-transform: uppercase" pInputText [pKeyFilter]="validatorsService.expRegValidInput"
                        formControlName="name" placeholder="EJ. METALES FERROSOS" 
                        [class.ng-dirty]="validatorsService.inputValid('name',categoryForm)" />
                    <small *ngIf="validatorsService.inputValid('name',categoryForm)" class="p-error block">
                        {{ validatorsService.inputValidMessage("name",categoryForm) }}
                    </small>
                </div>
                <div class="field mt-2">
                    <label class="block mb-0">Descripcion<span class="text-danger">*</span>
                    </label>
                    <textarea pInputTextarea
                        type="text"
                        style="text-transform: uppercase"
                        pInputText
                        [pKeyFilter]="validatorsService.expRegValidInput"
                        formControlName="description"
                        placeholder="EJ. ......"
                        class="mt-1"
                        [class.ng-dirty]="validatorsService.inputValid('description',categoryForm)"
                    ></textarea>
                    <small *ngIf="validatorsService.inputValid('description',categoryForm)" class="p-error block">
                        {{ validatorsService.inputValidMessage("description",categoryForm) }}
                    </small>
                </div>
                <div class="row mt-1 ">
                    <label class="block">Estado:<span class="text-danger">*</span></label>
                </div>
                <div class="row mt-0">
                    <div class="col-3">
                        <p-inputSwitch formControlName="status"></p-inputSwitch>
                    </div>
                    <div class="col">
                        <p-tag  [rounded]="true" 
                                [icon]="categoryForm.get('status')!.value ? 'fa-solid fa-circle-check' : 'fa-solid fa-trash-can'" 
                                [style]="categoryForm.get('status')!.value
                                          ? { 'background-color': 'var(--bg-primary)', color: '#ffffff' }
                                          : { 'background-color': 'red', color: '#ffffff' }" 
                                [value]="categoryForm.get('status')!.value ? 'Activo' : 'Inactivo'">
                        </p-tag>
                    </div>
                </div>  
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="!loading() ? (categoriesService.isEdit ? editCategory() : newCategory()) : null" styleClass="p-button-sm p-button-rounded"
            label="Guardar" icon="fa-solid fa-floppy-disk" [loading]="loading()"></p-button>
        <p-button (click)="categoriesService.showModal = false" label="Cancelar" styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>