<p-dialog [header]="!sucursalService.isEdit ? 'Registro Sucursal' : 'Modificar sucursalForm'" [(visible)]="sucursalService.showModal"
    [modal]="true" [breakpoints]="{ '960px': '75vw', '576px': '95%' }" [style]="{ width: '35vw' }" [draggable]="false"
    [resizable]="false" (onHide)="resetModal()"
    [dismissableMask]="true">
    <form [formGroup]="sucursalForm">
        <app-alert-notify></app-alert-notify>
        <div class="p-fluid grid">
            <div class="field col-12">
                <div class="field">
                    <label class="block mb-0">Nombre Sucursal<span class="text-danger">*</span>
                    </label>
                    <input type="text" style="text-transform: uppercase" pInputText [pKeyFilter]="validatorsService.expRegValidInput"
                        formControlName="name" placeholder="EJ. SUCURSAL PRIMERA" 
                        [class.ng-dirty]="validatorsService.inputValid('name',sucursalForm)" />
                    <small *ngIf="validatorsService.inputValid('name',sucursalForm)" class="p-error block">
                        {{ validatorsService.inputValidMessage("name",sucursalForm) }}
                    </small>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-6 col-12">
                        <label class="block mb-0">Celular<span class="text-danger">*</span>
                        </label>
                        <input
                            type="number"
                            pInputText
                            placeholder="EJ. 79....03"
                            formControlName="cellphone"
                            pKeyFilter="int"
                            [class.ng-dirty]="validatorsService.inputValid('cellphone',sucursalForm)"
                        />
                        <small *ngIf="validatorsService.inputValid('cellphone',sucursalForm)" class="p-error block">
                            {{ validatorsService.inputValidMessage("cellphone",sucursalForm) }}
                        </small>
                    </div>
                    <div class="col-sm-6 col-12 mt-sm-0 mt-1">
                        <label class="block mb-0">Correo</label>
                        <input type="text" pInputText 
                            formControlName="email" 
                            [class.ng-dirty]="validatorsService.inputValid('email',sucursalForm)" />
                        <small *ngIf="validatorsService.inputValid('email',sucursalForm)" class="p-error block">
                            {{ 'Correo no valido' }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="field mt-2">
                <label class="block mb-0">Dirección<span class="text-danger">*</span>
                </label>
                <textarea pInputTextarea
                    type="text"
                    style="text-transform: uppercase"
                    pInputText
                    [pKeyFilter]="validatorsService.expRegValidInput"
                    formControlName="address"
                    placeholder="EJ. ......"
                    class="mt-1"
                    [class.ng-dirty]="validatorsService.inputValid('address',sucursalForm)"
                ></textarea>
                <small *ngIf="validatorsService.inputValid('address',sucursalForm)" class="p-error block">
                    {{ validatorsService.inputValidMessage("address",sucursalForm) }}
                </small>
            </div>
            <div class="row mt-1 ">
                <label class="block">Estado:<span class="text-danger">*</span></label>
            </div>
            <div class="row mt-0">
                <div class="col-3">
                    <p-inputSwitch formControlName="status"></p-inputSwitch>
                </div>
                <div class="col">
                    <p-tag  [rounded]="true" 
                            [icon]="sucursalForm.get('status')!.value ? 'fa-solid fa-circle-check' : 'fa-solid fa-trash-can'" 
                            [style]="sucursalForm.get('status')!.value
                                      ? { 'background-color': 'var(--bg-primary)', color: '#ffffff' }
                                      : { 'background-color': 'red', color: '#ffffff' }" 
                            [value]="sucursalForm.get('status')!.value ? 'Activo' : 'Inactivo'">
                    </p-tag>
                </div>
            </div>  
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="!loading() ? (sucursalService.isEdit ? editSucursal() : newSucursal()) : null" styleClass="p-button-sm p-button-rounded"
            label="Guardar" icon="fa-solid fa-floppy-disk" [loading]="loading()"></p-button>
        <p-button (click)="sucursalService.showModal = false" label="Cancelar" styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>