<p-dialog [header]="'Nuevo abono a ' + accountReceivable()?.client?.full_names" [(visible)]="accountsReceivableService.showModalNewAbono"
    [modal]="true" [breakpoints]="{ '960px': '75vw', '576px': '95%' }" [style]="{ width: '35vw' }" [draggable]="false"
    [resizable]="false" (onHide)="resetModal()"
    [dismissableMask]="true">
    <form [formGroup]="abonoForm" (submit)="!loading() ? newAbono() : null">
        <app-alert-notify></app-alert-notify>
        <p-tag styleClass="m-2 ms-0 mb-1" value="CUENTA: {{accountReceivable()?.cod}} " [rounded]="true"></p-tag>
        <div class="p-fluid grid">
            <div class="field col-12">
                <div class="field">
                    <label class="block mb-0">Fecha abono<span class="text-danger">*</span>
                    </label>
                    <p-calendar 
                        formControlName="date_abono"
                        appendTo="body"
                        dateFormat="dd/mm/yy" 
                        [showIcon]="true" 
                        [showTime]="true"
                        [class.ng-dirty]="validatorsService.inputValid('date_abono',abonoForm)">
                    </p-calendar>
                    <small *ngIf="validatorsService.inputValid('date_abono',abonoForm)" class="p-error block">
                        {{ validatorsService.inputValidMessage("date_abono",abonoForm) }}
                    </small>
                </div>
                <div class="field">
                    <label class="block mb-0">Monto abonado<span class="text-danger">*</span>
                    </label>
                    <p-inputNumber
                        locale="en-US"
                        mode="decimal"
                        inputId="locale-us"
                        formControlName="monto_abono"
                        [minFractionDigits]="decimalLength()"
                        [maxFractionDigits]="decimalLength()"
                        [showButtons]="true"
                        buttonLayout="horizontal"
                        spinnerMode="horizontal"
                        decrementButtonClass="p-button-secondary"
                        incrementButtonClass="p-button-primary"
                        incrementButtonIcon="fa-solid fa-plus"
                        decrementButtonIcon="fa-solid fa-minus"
                        [class.ng-dirty]="validatorsService.inputValid('monto_abono',abonoForm)"
                        [min]="0"
                        [max]="accountReceivable()?.monto_restante"
                        (keyup.enter)="!loading() ? newAbono() : null"
                    >
                    </p-inputNumber>
                    <small *ngIf="validatorsService.inputValid('monto_abono',abonoForm)" class="p-error block">
                        Monto no valido
                    </small>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="!loading() ? newAbono() : null" styleClass="p-button-sm p-button-rounded"
            label="Guardar" icon="fa-solid fa-floppy-disk" [loading]="loading()"></p-button>
        <p-button (click)="accountsReceivableService.showModalNewAbono = false" label="Cancelar" styleClass="p-button-outlined p-button-sm p-button-rounded"></p-button>
    </ng-template>
</p-dialog>